@model List<Models.EF.Content>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content_top">
    <div class="heading">
        <h3>Tin Tức</h3>
    </div>
    <div class="clear"></div>
</div>
<div class="section group">
    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            var url = "/tin-tuc/" + item.MetaTitle + "-" + item.ID;

            <div class="image group">
                <div class="grid images_3_of_1">
                    <a href="@url"><img src="@item.Images" alt="@item.Name" /></a>
                </div>
                <div class="grid news_desc">
                    <a href="@url"><h3>@item.Name </h3></a>
                    <h4>Posted on @item.CreateDate by <span><a href="#">@item.CreateBy</a></span></h4>
                    @Html.Raw(item.Detail) <a href="@url" title="more">[....]</a>
                </div>
            </div>
        }
    }
    else
    {
        <h4>Không có tin tức nào</h4>
    }

    <div class="clear"></div>
    @if (ViewBag.TotalPage > 1)
    {
        var pageDisplay = ViewBag.MaxPage;
        var totalPage = ViewBag.TotalPage;
        int currentPage = ViewBag.Page;

        //Create link
        var startPage = Math.Max(1, currentPage - pageDisplay / 2);
        var endPage = Math.Min(totalPage, currentPage + pageDisplay / 2);
        var link = "/tin-tuc" ;

        <div class="content-pagenation">
            <ul>
                @if (currentPage > 1)
                {
                    <li>
                        <a href="@link?page=@ViewBag.Previous">Previous</a>
                    </li>
                }

                @for (int i = startPage; i <= endPage; i++)
                {
                    if (currentPage == i)
                    {
                        <li class="active">
                            <a href="@link?page=@i">@i</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@link?page=@i">@i</a>
                        </li>
                    }
                }
                @if (currentPage < totalPage)
                {
                    <li>
                        <a href="@link?page=@ViewBag.Next">Next</a>
                    </li>
                }
            </ul>
        </div>
    }

</div>

